<a href="https://colab.research.google.com/github/chittoorking/PDS_codes/blob/main/Copy_of_Working_with_JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

JSON (JavaScript Object Notation) is a popular data format used for representing structured data. It's common to transmit and receive data between a server and web application in JSON format.

In Python, JSON exists as a string. For example:

In [ ]:
p = '{"name": "Bob", "languages": ["Python", "Java"]}'
p

'{"name": "Bob", "languages": ["Python", "Java"]}'

To work with JSON (string, or file containing JSON object), you can use Python's `json` module. You need to import the module before you can use it.

In [ ]:
import json

The `json` module makes it easy to parse JSON strings and files containing JSON object.

In [ ]:
person = '{"name": "Bob", "languages": ["English", "French"]}'

p_dict = json.loads(person)
print(type(p_dict))

<class 'dict'>

In [ ]:
print(type(person))

<class 'str'>

Here, `person` is a JSON string, and `person_dict` is a dictionary.

In [ ]:
print(p_dict['languages'])

['English', 'French']

### Convert dict to JSON

In [ ]:
person_dict = {'name': 'Bob',
'age': 12,
'children': None
}

p_json = json.dumps(person_dict)
print(p_json)

{"name": "Bob", "age": 12, "children": null}

### Writing JSON to a file

To write JSON to a file in Python, we can use json.dump() method.

In [ ]:
person_dict = {"name": "Bob",
"languages": ["English", "French"],
"married": True,
"age": 32
}

with open('person.txt', 'w') as json_file:
    json.dump(person_dict, json_file)

### Python pretty print JSON

To analyze and debug JSON data, we may need to print it in a more readable format. This can be done by passing additional parameters indent and sort_keys to json.dumps() and json.dump() method.

In [ ]:
person_string = '{"name": "Bob", "languages": "English", "numbers": [2, 1.6, null]}'

# Getting dictionary
person_dict = json.loads(person_string)
print(person_dict)

{'name': 'Bob', 'languages': 'English', 'numbers': [2, 1.6, None]}

In [ ]:
print(json.dumps(person_dict, indent = 2, sort_keys = True))

{
  "languages": "English",
  "name": "Bob",
  "numbers": [
    2,
    1.6,
    null
  ]
}

In [ ]:
Faculty_string = '''
{
"Faculty": [
{
"name" : "Sreeja",
"emails": "sreeja@gmail.com",
"subjects" : ["PDS", "CP", "DAV"]
},
{
"name" : "Annu",
"emails": "annu@gmail.com",
"subjects" : ["AI", "BCI"]
}
]
}'''

In [ ]:
data = json.loads(Faculty_string)

In [ ]:
print(data)

{'Faculty': [{'name': 'Sreeja', 'emails': 'sreeja@gmail.com', 'subjects': ['PDS', 'CP', 'DAV']}, {'name': 'Annu', 'emails': 'annu@gmail.com', 'subjects': ['AI', 'BCI']}]}

In [ ]:
data['Faculty']

[{'name': 'Sreeja',
  'emails': 'sreeja@gmail.com',
  'subjects': ['PDS', 'CP', 'DAV']},
 {'name': 'Annu', 'emails': 'annu@gmail.com', 'subjects': ['AI', 'BCI']}]

In [ ]:
for item in data['Faculty']:
    del item['emails']

In [ ]:
print(data)

{'Faculty': [{'name': 'Sreeja', 'subjects': ['PDS', 'CP', 'DAV']}, {'name': 'Annu', 'subjects': ['AI', 'BCI']}]}

In [ ]:
with open('Faculty.txt', 'w') as f:
    json.dump(data, f)

In [ ]:
from urllib.request import urlopen

with urlopen("https://jsonplaceholder.typicode.com/todos") as response:
    source = response.read()

data = json.loads(source)

In [ ]:
import pandas as pd
todo = pd.read_json("https://jsonplaceholder.typicode.com/todos")

In [ ]:
todo

     userId   id                                              title  completed
0         1    1                                 delectus aut autem      False
1         1    2                 quis ut nam facilis et officia qui      False
2         1    3                                fugiat veniam minus      False
3         1    4                                   et porro tempora       True
4         1    5  laboriosam mollitia et enim quasi adipisci qui...      False
..      ...  ...                                                ...        ...
195      10  196                consequuntur aut ut fugit similique       True
196      10  197                  dignissimos quo nobis earum saepe       True
197      10  198                       quis eius est sint explicabo       True
198      10  199                       numquam repellendus a magnam       True
199      10  200                       ipsam aperiam voluptates qui      False

[200 rows x 4 columns]

In [ ]:
todo.title.str.len()

0      18
1      34
2      19
3      16
4      63
       ..
195    35
196    33
197    28
198    28
199    28
Name: title, Length: 200, dtype: int64

In [ ]:
todo.title.str.len().describe()

count    200.000000
mean      41.435000
std       15.429065
min       11.000000
25%       28.000000
50%       41.000000
75%       53.000000
max       73.000000
Name: title, dtype: float64

In [ ]:
import numpy as np
todo.title[np.argmax(todo.title.str.len())]

'aliquid amet impedit consequatur aspernatur placeat eaque fugiat suscipit'

In [ ]:
todo.title[np.argmin(todo.title.str.len())]

'qui sit non'

In [ ]:
todo.title.str.findall(r'^[^aeiou]')

0      [d]
1      [q]
2      [f]
3       []
4      [l]
      ...
195    [c]
196    [d]
197    [q]
198    [n]
199     []
Name: title, Length: 200, dtype: object

In [ ]:
todo.title.str.contains('[q]')

0      False
1       True
2      False
3      False
4       True
       ...
195     True
196     True
197     True
198     True
199     True
Name: title, Length: 200, dtype: bool

In [ ]:
complete = todo.groupby('userId').sum()

In [ ]:
complete

          id  completed
userId
1        210         11
2        610          8
3       1010          7
4       1410          6
5       1810         12
6       2210          6
7       2610          9
8       3010         11
9       3410          8
10      3810         12

In [ ]:
complete[completed > 10]

          id  completed
userId
1        210       11.0
2        610        NaN
3       1010        NaN
4       1410        NaN
5       1810       12.0
6       2210        NaN
7       2610        NaN
8       3010       11.0
9       3410        NaN
10      3810       12.0

In [ ]:
complete.query('completed > 10')

          id  completed
userId
1        210         11
5       1810         12
8       3010         11
10      3810         12